*{
	margin:0;
	padding: 0;
}

.logo{
	width: 100%;
	height: 64px;
	background-color: rgba(0,0,0,1);
}

.logo img{
	position: relative;
	padding-top: 20px;
	left: 7%;
}

.box{
    position: absolute;
    top:8px;
    right: 40%;
    clear: both;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: rgba(80,80,80,1);
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    color: #FFF;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 50px;
    margin-left: -5px;
}

.menu ul li a{
    text-decoration: none;
    color: #FFF;
    display: block;
}

.menu ul li a:hover{
    color: black;
    background: #ccc5b9;
}

input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
}

input[type="text"]{
	width: 340px;
	height: 47px;
	border:none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
}

input[type="number"]{
    width: 80px;
    outline: none;
    padding: 0 25px;
    border: none;
}


input[type="submit"]{
	position: relative;
	border-radius: 0 25px 25px 0;
	height: 47px;
	width: 120px;
	border:none;
	outline: none;
	left: -5px;
    padding-top: 1px;
}

input[type="submit"]:hover{
	background:#ff5722;
}

.login{
	color: #fff;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
}


.login h3{
	font-size: 20px;
}


.login a{
	text-decoration: none;
	color: #fff;
}

.login a:hover{
	color: #b7b7a4;
}

.footer{
	background-color: rgba(0,0,0,1);
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.footer1{
	background-color: rgba(0,0,0,1);
	height: 300px;
	width: 100%;
	color: #bbb;
}

.col-sm-2 h1{
	font-size: 18px;
}

.header-footer{
	width: 1200px;
	margin-left: 300px;
	height: 300px;
}

.col-sm-2 ul li{
	list-style: none;
	padding: 3px 0;
}

.col ul li{
	list-style: none;
	padding: 3px 10px;
}

.col ul li i{
	padding: 0 10px;
}


.form{
        width:100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 102;
    }
    .login-form,
    .sign-up-form{
        width:420px;
        padding: 20px 10px;
        background-color: #ffffff;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        position: relative;
     
    }
    .login-form form,
    .sign-up-form form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .login-form strong,
    .sign-up-form strong{
        color: #272727;
        font-size: 2rem;
        margin: 2px 7px 7px 7px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 500;
    }
    .login-form input,
    .sign-up-form input{
        width:90%;
        height: 45px;
        margin: 6px 0px;
        padding: 0px 10px;
        border: 1px solid rgba(0,0,0,0.1);
        outline: none;
        border-radius: 7px;
    }
    .login-form input::placeholder,
    .sign-up-form input::placeholder{
        color: rgba(0,0,0,0.5);
    }
    .login-form input[type="submit"],
    .sign-up-form input[type="submit"]{
        background-color: #b7b7a4;
        color: #ffffff;
        border: none;
        outline: none;
        text-transform: uppercase;
        margin-top: 10px;
        border-radius: 3px;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    }

    .form-btns{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .form-btns a{
        color: #4d4d4d;
        font-size: 0.9rem;
        text-decoration: none;
    }
	.sign-up-btn a{
		text-decoration: none;
	}

    .sign-up-btn{
        border-bottom: 1px solid #868686;
        line-height: 16px;
    }
    .form-cancel{
        position: absolute;
        right: 20px;
        top: 10px;
        color: #868686;
    }
    .login-form,
    .sign-up-form,
    .form{
        display: none;
    }
    .login-active,
    .login-active .login-form{
        display: flex;
        animation: fade 0.3s;
    }
     
    .sign-up-active,
    .sign-up-active .sign-up-form{
        display: flex;
        animation: fade 0.3s;
    }

    .social{
	 position: fixed;
	 top:50%;
	 right:0px;
	 transform:translateY(-50%);
	}
	.social a{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width:50px;
	 height:50px;
	 margin:0px;
	 padding: 0px;
	 line-height:0px;
	 background-color:#FFFFFF;
	 border:1px solid #CBCBCB;
	 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	 text-decoration: none;
	}
	.social a:hover{
	 background-color:#b7b7a4;
	 transition:all ease 0.5s;
	}
	.social i{
	 font-size:20px;
	 color:#2B2B2B;
	}

.cart .table{
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    border: 1px solid;
}
.cart .table thead tr th{
    border-top:0px;
    font-size:16px;
    font-weight: bold;
    border-bottom:0px;
    padding: 20px 10px;
}

.des{
    font-weight: bold;
    padding: 0 10px;
}

.cart .table thead tr td{
    padding-top:30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}

.cart .table tbody tr td .main .d-flex{
    padding-right:30px;
}
.cart .table tbody tr td .main .d-flex img{
    border: 2px solid #000;
    border-radius: 3px;
}
.cart .table tbody tr td .main .des{
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .des p{
    margin-bottom:0px;
}
.cart .table tbody tr td h6{
    font-size:16px;
    color:#000;
    margin-bottom: 0px;
}
.cart .table tbody tr td .counter{
    margin-bottom:0px;
}
.counter i{
    border: 1px solid #000;
    padding: 7px;
    display: inline-block;
    position: relative;
}
.cart .table tbody tr td .counter input{
    width: 100px;
    padding-left:30px;
    height: 40px;
    outline:none;
    box-shadow: none;
}
.checkout input[type="submit"]{
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 0 0 0 0;
    margin-bottom: 10px;
}
.checkout ul{
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
}
.checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
}
.checkout ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.checkout ul li.subtotal input[type="text"]{
    border-radius: 0 0 0 0;
    margin-left: 5px;
    margin-top: 5px;
    width: 520px;
}
.checkout ul li.subtotal input[type="submit"]{
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 0 0 0 0;
}
.checkout ul li.shiptotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
    margin-top: 14px;
    margin-right: 100px;
}
.checkout ul li.shiptotal span{
    font-weight: bold;
}
.checkout ul li.cart-total{
    padding-top: 10px
}
.checkout ul li.cart-total span{
    color:#e7ab3c;
}
.checkout ul li span{
    float:right;
}
.checkout .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.d-flex img{
    max-width: 150px;
}

#text-1{
    padding: 20px 45px;
}

#text-2{
    padding: 20px 40px;
}

#text-3{
    padding: 20px 20px;
}
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
